.custom-text {
    font-family: 'Agbalumo', sans-serif;
}

.ProgressBar {
    margin: 0 auto;
    padding: 0em 0 1em;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* Add the following properties to make it horizontal */
    flex-direction: row; /* Arrange items horizontally */
    width: 100%; /* Ensure the progress bar spans the full width */
}

.ProgressBar-step {
    width: 25%; /* Adjust the width of each step to fit four items in a row */
}

.ProgressBar-icon {
    width: 100%; /* Ensure the icon fills the entire space */
    max-width: 100%; /* Ensure the icon does not exceed the width of its container */
}

.ProgressBar-stepLabel {
    width: 100%; /* Ensure the label fills the entire space */
    max-width: 100%; /* Ensure the label does not exceed the width of its container */
}

.ProgressBar-stepLabel {
    font-size: 0.7em; /* Adjust the font size as needed */
}


